html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: rgb(76,76,76)
}

a {
  color: inherit;
  text-decoration: none;
}

/* App */

.app-container {
  background-color:rgb(145,156,143)
}

/* NavBar  */

nav.nav-container {
  background-color: white;
  min-height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav.nav-container .nav-item-container {
  padding: 30px;
}

/* Home Page */
/* .posts-container {

} */